<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row offset-2">
        <h3>Edit Listing:</h3>
        <form method="post" action="/listings/<%= data._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="col-8">
                <div class="md-3">
                    <label for="title" class="form-label" style="margin: 0;padding: 0;">Title</label>
                    <input name="listing[title]" value="<%= data.title %>" type="text" class="form-control" required>
                    <div class="valid-feedback"> Title Looks good!</div>
                </div>
                <div class="md-3">
                    <label for="discription" class="form-label" style="margin: 0;padding: 0;">Discription</label>
                    <textarea name="listing[description]" type="text" class="form-control" required><%= data.description %></textarea>
                    <div class="invalid-feedback">Provide Short Discription</div>
                </div>
                <div>
                    <p style="margin: 0;">Original Image</p>
                    <img src="<%= originalimageurl %>" alt="listing image" style="border-radius: 1rem;">
                </div>
                <div class="md-3">
                    <label for="image" class="form-label" style="margin: 0;padding: 0;">Upload Image</label>
                    <input name="listing[image]" type="file" class="form-control" >
                </div>
                <div class="row">
                    <div class="md-3 col-md-4">
                        <label for="price" class="form-label" style="margin: 0;padding: 0;">Price</label>
                        <input name="listing[price]" value="<%= data.price %>" type="number" class="form-control" required>
                        <div class="invalid-feedback">Enter the valid Price</div>
                    </div>
                    <div class="md-3 col-md-8">
                        <label for="country" class="form-label" style="margin: 0;padding: 0;">Country</label>
                        <input name="listing[location]" value="<%= data.location %>" type="text" class="form-control" required>
                        <div class="invalid-feedback">Provide valid Country</div>
                    </div>
                </div>
                <div class="md-3">
                    <label for="location" class="form-label" style="margin: 0;padding: 0;">Location</label>
                    <input name="listing[country]" value="<%= data.country %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Provide valid Location</div>
                </div>
            </div>
            <button class="btn btn-dark add-btn mt-3 mb-2">Edit Now</button><br><br>
        </form>
    </div>
</body>
